<div class="container">
  <h1>Student Exam Paper</h1>
               <p>(Time Span:1hour)</p>
  <p1>(1)what is the difference between span tag and p tag?</p1>
<input type="text" class="form-control" [(ngModel)]="messageone"><br>
<button (click)="getNameOne()"class="btn btn-primary">Submit</button><br><br>
<p1>(2)what is the difference between absolute and relative?</p1>
<input type="text" class="form-control" [(ngModel)]="messagetwo"><br>
<button (click)="getNameTwo()" class="btn btn-primary">Submit</button><br><br>
<p1>(3)what is the difference between Directive and pipes in Angular?</p1>
<input type="text" class="form-control" [(ngModel)]="messagethree"><br>
<button (click)="getNameThree()" class="btn btn-primary">Submit</button><br><br>
<p1>(4)what is Angular Lifecyclehook?</p1>
<input type="text" class="form-control" [(ngModel)]="messagefour"><br>
<button (click)="getNameFour()" class="btn btn-primary">Submit</button><br><br>
<p1>(5)what is Node JS?</p1>
<input type="text" class="form-control" [(ngModel)]="messagefive"><br>
<button (click)="getNameFive()" class="btn btn-primary">Submit</button><br><br>
<p1>(6)what is Nodemon?</p1>
<input type="text" class="form-control" [(ngModel)]="messagesix"><br>
<button (click)="getNameSix()" class="btn btn-primary">Submit</button><br><br>

</div>